<footer class="footer">
  <div class="row col-12" id="zoneDefilement">
      <div class="col-3" id="labelInformation">
        <h6 class="text text-center text-sm">INFORMATIONS</h6>
      </div>
      <div class="col-9" id="textInformation">
        <marquee behaviour = "scroll" scrollamount="4" >
                <p *ngFor="let information of informations" class="text d-lg-inline">
                  {{ information['informations_description'] }}
                  <img src="../../assets/images/logoCroix.jpg" width="20px">
                </p>
        </marquee>
      </div>
  </div>

</footer>
