<div class="row text" id="nombrecas">
  <h1 class=""></h1>
  <h6>Les chiffres des activités effectuées</h6>
</div>
<table class="table table-responsive table-streaped" id="tablecovid" >
    <thead class="thead-white bg-gray">
      <tr>
        <th scope="col">Activités</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody class="text">
    <ng-container *ngFor="let bilan of bilanActivites">
      <tr>
        <td class="text text-left" style="width: 350px">{{bilan.bilanActivite_libelle}}</td>
        <td class="text text-right text-danger">{{bilan.bilanActivite_nbre}}</td>
      </tr>
    </ng-container>
    </tbody>
</table>
