<table class="table table-responsive table-streaped" id="tablecovid" >
    <thead class="thead-white bg-gray">
      <tr>
        <th scope="col"></th>
        <th scope="col">Décédé</th>
        <th scope="col">Infectés</th>
        <th scope="col">Guéris</th>
      </tr>
    </thead>
    <tbody class="text text-danger ">
      <tr>
        <th scope="row" class="text text-left">Abidjan</th>
        <td class="text text-right">1</td>
        <td class="text text-right">565</td>
        <td class="text text-right">21</td>
      </tr>
    </tbody>
</table>