
<!-- Toolbar -->
<div class="toolbar" role="banner" >
  <div id="case1">
    <h2 id="textcase1">Bulletin d'informations</h2>
    <h5 id="datenav">{{ currentDate | date: 'fullDate' }}</h5>
  </div>
  <div class="spacer"></div>
  <div class="col-sm-3" style="margin: 0 -15px 8px 25% ;">
    <h6 class="text text-justified" style="font-size: 90%">Association  reconnue d’utilité publique selon le décret n°63-169 du 18 avril 1963</h6>
  </div>
  <img
    width="60"
    alt="Angular Logo"
    src="assets/images/croix-rouge-logo.png"
  />
</div>
