
<div class="row col-sm-12">

    <div class="col-sm-7" id="videoread">
<!--       <iframe width="100%" height="415" autoplay=true src="https://www.youtube.com/embed/V7R7MF_Ax7M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="e2e-iframe-trusted-src embed-responsive-item" autoplay="true" [src] = "lienVideoAct" allowfullscreen></iframe>
      </div>
        <div class="card-body">
            <h5 class="card-title">{{selectedVideo.video_titre}}</h5>
            <p class="card-text">{{selectedVideo.video_description}}</p>
            <!--<a href="#" class="btn btn-danger">Tell something</a>-->
        </div>
    </div>
    <div class="row col-sm-5" style="margin:0px ;padding: 0px;">
        <div class="col-sm-12 scrollbar scrollbar-danger" id="zonelist">
            <h5 class="h5 text-center mt-1 mb-2">Liste des vidéos</h5>
            <div class="" *ngFor="let video of listVideo"> <!--force-overflow-->
                <a (click)="selectVideo(video)" class="list-group-item list-group-item-action">
                    <!--<img src="assets/icons/icons-video.png" alt="placeholder" class="img-fluid" width="40px">-->
                  <img src="assets/icons/video.jfif" alt="placeholder" class="img-fluid" width="40px">
                  <span>{{video.video_titre}}</span>
                </a>
            </div>
        </div>
        <div class="col-sm-12">
            <h5 class="text text-center border rounded bg-danger text-white">Bilan covid national</h5>
            <app-info-covid></app-info-covid>
        </div>
    </div>



</div>
