<div class="border border-top-0 border-danger rounded-bottom">
    <h6 class="text text-right bg-danger text-white">Date: <span class="text text-white">31/10/2020</span> </h6>
    <div>
        <h6 class="text">Nombre de nouveaux cas : <span class="badge badge-danger badge-pill">1744</span></h6>
    </div>
    <div>
        <h6 class="text">Nombre de guérris : <span class="badge badge-danger badge-pill">154</span></h6>
    </div>
    <div>
        <h6 class="text">Nombre de décès : <span class="badge badge-danger badge-pill">4</span></h6>
    </div>
    <div>
        <h6 class="text">Nombre de cas actifs : <span class="badge badge-danger badge-pill">144</span></h6>
    </div>
</div>
