
<app-navbar></app-navbar>
<div class="row col-12" style="margin: 0;">
    <div class="col-sm-4" style="padding-right: 0px;">
        <div class="border border-danger border-bottom-0">
            <h3 class="text text-center text-danger">News !!!</h3>
        </div>
        <app-info-projet></app-info-projet>
        <hr class="my-3">

        <app-tablecovid></app-tablecovid>
    </div>
    <div class="col-sm-8" style="padding: 0px;">
        <app-videocomponent></app-videocomponent>
    </div>
</div>
<hr class="my-3 col-sm-6">
<div class="row col-sm-12">
    <div class="col-sm-8">
        <app-image-caroussel></app-image-caroussel>
    </div>
    <div class="col-sm-4" style="padding-right: 0px;">
        <app-card></app-card>
    </div>

</div>
<div >
    <app-footer></app-footer>
</div>

