<!--Carousel Wrapper-->
<div id="carousel-thumb" class="carousel slide carousel-thumbnails" data-ride="carousel">
    <!--/.Controls-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox" *ngFor="let image of images">
        <div class="carousel-item active">
            <img src='{{image.image}}' class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Don de véhicules par le CICR au CRCI</h5>
              <p>La Communauté internationale de Croix rouge a fait un don de véhicule automobile à la croix-rouge Côte d'Ivoire</p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <ol class="carousel-indicators">
        <li data-target="#carousel-thumb" data-slide-to="0" class="active">
          <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(129).jpg" width="100">
        </li>
        <li data-target="#carousel-thumb" data-slide-to="1">
          <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(130).jpg" width="100">
        </li>
        <li data-target="#carousel-thumb" data-slide-to="2">
          <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(70).jpg" width="100">
        </li>
        <li data-target="#carousel-thumb" data-slide-to="3">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(75).jpg" width="100">
          </li>
          <li data-target="#carousel-thumb" data-slide-to="4">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(128).jpg" width="100">
          </li>
      </ol>

  </div>
  <!--/.Carousel Wrapper-->
