<div class="scrollbar scrollbar-danger">

    <table class="table table-bordered table-striped mb-0">
      <thead class="bg-danger text-white">
        <tr>
          <th scope="col">DATE</th>
          <th scope="col" class="text text-center ">PROJET</th>
          <th scope="col" class="text text-center ">INFORMATIONS</th>
        </tr>
      </thead>
      <tbody class="">
        <ng-container *ngFor="let activite of activites">
          <tr>
            <td scope="row" width="120px">{{activite.date_activite}}</td>
            <td class="text font-weight-bolder">{{activite.projet['projet_libelle']}}</td>
            <td>{{activite.activite_actualite}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>
